#toolbar-menubar 
{
  position: relative !important;
  height: 24px !important;


  /*Moved from tweaks.css*/
  margin-top: 0 !important;
      background-image: linear-gradient(to bottom, #FEFEFF 0%, #E5EAF5 25%, #D4DBED 25%, #E1E6F6 100%) !important;
      text-shadow: none !important;
      border-bottom: 1px solid #B6BCCC !important;
      opacity: 1 !important;
      visibility: visible !important;
}


/*FROM tweaks*/
#toolbar-menubar[inactive="true"]:not([customizing="true"]) {
      max-height: 0 !important;
      padding: 0 !important;
      border: 0 !important;
    }


#main-menubar > menu[_moz-menuactive] 
{
  color: HighlightText !important;
}

#menubar-items 
{
  height: 21px !important;
  align-items: stretch !important;

  /*FROM tweaks*/
  margin-top: 0 !important;
}

#main-menubar {
  height: 100% !important;
}


#main-menubar > menu {
  border: 0 !important;

  /*FROM tweaks*/
  appearance: none !important;
}


#main-menubar:not(:-moz-lwtheme, :-moz-window-inactive) {
      background-color: transparent !important;
      border-radius: 0 !important;
    }


.menubar-text {
  margin-inline: 9px !important;
}